<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <div class="container">
      <div class="timer">
        <p id="timer">00:00:00</p>
        <div class="button" id="start-button-box">
          <button id="start">状態初期化</button>
        </div>
        <canvas id="canvas-timer" width="230" height="230"></canvas>
      </div>
      <div class="score">
        <table border="1">
          <tr>
            <th></th>
            {% for n in range(player_num) %}
              <th>{{n+1}}p</th>
            {% endfor %}
          </tr>
          <tr>
            <td>残り弾数</td>
            {% for n in range(player_num) %}
              <td id="bullet_{{n+1}}">20</td>
            {% endfor %}
          </tr>
          <tr>
            <td>得点</td>
            {% for n in range(player_num) %}
              <td id="score_{{n+1}}">0</td>
            {% endfor %}
          </tr>
        </table>
      </div>
      </div class="setting_button">
        <a href="{{url_for('root', player_num='1')}}">
          <button id="one_player">1人</button>
        </a>
        <a href="{{url_for('root', player_num='2')}}">
          <button id="two_player">2人</button>
        </a>
        <a href="{{url_for('root', player_num='3')}}">
          <button id="three_player">3人</button>
        </a>
        <a href="{{url_for('root', player_num='4')}}">
          <button id="four_player">4人</button>
        </a>
      </div>
    </div>

    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/timer.js"></script>
  </body>
</html>