@charset 'utf-8';

.flex {
  display: flex;
}

.app_area {
  margin: 20px 100px;
}

p#timer {
  font-size: 10rem;
}

.score {
  font-size: 5rem;
}

.score th {
  padding: 0px 20px;
}

.score td {
  padding: 5px 20px;
}
