@charset 'utf-8';

* {
  font-size: 2vw;
}

.rank-main {
  font-size: 14vw;
  font-weight: bold;
}

.rank-sub {
  font-size: 5vw;
}

.score {
  font-size: 4vw;
}

.credit {
  font-size: 1vw;
}

a.btn-secondary {
  font-size: 0.8vw;
}
